.contact {
    padding: 3em 0em; 
}

.contact-header {
    padding: 1em 0em; 
}

.contactheader-title1 {
    font-weight: bold;
    color: #cococo;
}

.contactheader-title2 {
    font-weight: bold; 
    color: #2061ac;
}

.contact-form {
    padding: 0em 2em; 
}

.contact-form form label {
    color: #333; 
}

.contact-form form input[type=text], .contact-form form input[type=email],
.contact-form form textarea {
    background-color: #ecf0f1; 
}

.contact-form form button[type=submit] {
    background-color: #2061ac;
    font-weight: bold; 
    color: white; 
}

.contact-form form textarea {
    resize: vertical; 
}

.has-error {
    color: crimson; 
}