.row-whoweare {
    
}

.row-whoweare {
    padding: 10em 0em;
    background-image: url('../images/seguroedificio_quienessomos.jpg');
    background-size: cover;  
    background-repeat: no-repeat; 
    color: white; 
}

.whoweare-col {
    margin: 3em 0em; 
}

.whoweare-col img {
    width: 100px;
    height: 100px;  
}

.whoweare-col p {
    padding: 0em 4em; 
}