<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8"/>
		<meta name="description" content="Seguroedificio"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/> 
		
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">  
        
        <link rel="stylesheet" href="css/main.css"/> 
        <link rel="stylesheet" href="css/contacto.css"/>
        
		<title>SeguroEdificio | Contacto</title>
	</head>

	<body ng-app="app" ng-controller="MainCtrl as main">
		<header>
            <nav class="navbar">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button id="navbar-button" style="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="index.html">
                            <img src="images/seguroedificio.png"/>
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="text-center">
                                <a href="index.html">Home</a>
                            </li>
                            <li class="text-center">
                                <a href="calculaprima.html">Calcula tu prima</a>
                            </li>
                            <li class="text-center">
                                <a href="quienessomos.html">Quienes somos</a>
                            </li>
                            <li class="active text-center">
                                <a href="contacto.html">Contacto</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
		</header>
		<main>
            <div id="contactContent" class="contact">
                <div class="container-fluid contact-header text-center">
                    <h1 class="contactheader-title1">¿Tienes alguna duda?</h1>
                    <h1 class="contactheader-title2">¡Escríbenos!</h1>
                </div>
			    <div class="container-fluid contact-form">
				    <form name="contactForm" action="noaction.html" novalidate>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Nombre</label>
                                    <input type="text" class="form-control" id="name" name="name" ng-model="name" required/>
                                    <div ng-show="contactForm.name.$touched && contactForm.name.$error" ng-class="{'has-error':contactForm.name.$touched && contactForm.name.$invalid}">
                                        <div ng-show="contactForm.name.$error.required">Se requiere este campo</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email">Correo electrónico</label>
                                    <input type="email" class="form-control" id="email" name="email" placeholder="ejemplo@email.com" ng-model="email" required/>
                                     <div ng-show="contactForm.email.$touched && contactForm.email.$error" ng-class="{'has-error':contactForm.email.$touched && contactForm.email.$invalid}">
                                         <div ng-show="contactForm.email.$error.required">Se requiere este campo</div>
                                         <div ng-show="contactForm.email.$error.email">Se debe ingresar un correo válido</div>
                                     </div>
                                </div>
                                <div class="form-group">
                                    <label for="phone">Teléfono de contacto</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">+</span>
                                        <input type="text" class="form-control" id="phone" name="phone" placeholder="56 XXX XXX XXX" ng-pattern="/56[0-9]{9}/" ng-model="phone" required>
                                    </div>
                                    <div ng-show="contactForm.phone.$touched && contactForm.phone.$error" ng-class="{'has-error':contactForm.phone.$touched && contactForm.phone.$invalid}">
                                        <div ng-show="contactForm.phone.$error.required">Se requiere este campo</div>
                                        <div ng-show="contactForm.phone.$error.pattern">El número ingresado no es válido</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="message">Mensaje</label>
                                    <textarea class="form-control" rows="6" id="message" name="message" ng-model="message" required></textarea>
                                    <div ng-show="contactForm.message.$touched && contactForm.message.$error" ng-class="{'has-error':contactForm.message.$touched && contactForm.message.$invalid}">
                                        <div ng-show="contactForm.message.$error.required">Se requiere este campo</div>
                                    </div>
                                </div>
                                <div class="form-group text-right">
                                    <button id="formButton" class="btn" type="submit" ng-disabled="contactForm.$invalid">Enviar</button>  
                                </div>
                            </div>
                        </div>
                    </form>
			    </div>
            </div>                  
		</main>
		<footer>
			<div class="container-fluid text-center">
                <p>Todos los derechos reservados. Santiago de Chile, 2017.</p>
		    </div>
		</footer>
        
        <a class="link-upicon" href="javascript:void(0)">
            <div class="upicon text-center">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-angle-double-up fa-stack-1x"></i>
                </span>
            </div>
        </a>
        
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        
	    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-messages.js"></script>
        
        <script src="scripts/navigation.js"></script>
        
        <script src="scripts/contactApp.js"></script>
	</body>
</html>